.home-nav{
    border-radius: 0px;
    margin-bottom: 0px;
}
.c1h{
    border-radius: 10px 10px 0px 0px;
    height: 180px;
    background-image: url("/static/image/python.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size:100% 100%;
}
.c1c{
    border-radius: 0px 0px 10px 10px;
    height: 180px;
    border: solid #c0c0c0 1px;
}